body{

    font-family: monospace, fantasy;
}

h1{
    font-size: 60px;
}

h2 {
    font-family: cursive;
    font-size: 30px;
    color: rgb(137, 184, 68);
    font-weight: 910;
}



.title-name {
    font-family: fantasy;
    
    }
.self-description{
    font-family: monospace;
    font-size: 15px;
}

.title-skills{
    font-size: 60px;
    font-weight: 999;
    font-family: cursive;
    color: rgb(142, 8, 238);
}

.photoperfil{
    border-radius: 50%;
    width: 350px;

}

.button{
    color: #fff;
    background-color: green;
    padding: 15px 30px;
    border-radius: 100px;
}
